<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application
            icon="icons/calculator_icon.png">
         <run
               class="eclipsercp.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="eclipsercp.Perspective"
            icon="icons/calculator_icon.png"
            id="Eclipse-RCP.perspective"
            name="RCP Perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="viewpart.ContactsView"
            icon="icons/contacts.png"
            id="Eclipse-RCP.viewpart.contacts"
            name="Contacts"
            restorable="true">
      </view>
   </extension>
</plugin>
