<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="eclipsercp.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="eclipsercp.Perspective"
            id="StudentsRCP.perspective"
            name="RCP Perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="viewpart.ContactsView"
            id="StudentsRCP.viewpart.contacts"
            name="Contacts"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="commands.NewHandler"
            commandId="StudentsRCP.commands.New">
      </handler>
      <handler
            class="commands.DeleteHandler"
            commandId="StudentsRCP.commands.Delete">
             <enabledWhen>
                <with
                     variable="selection">
                  <instanceof
                        value="org.eclipse.jface.viewers.ISelection">
                  </instanceof>
                  <test
                        forcePluginActivation="true"
                        property="studentsrcp.deleteTester.isSelected">
                  </test>
                </with>
            </enabledWhen> 
      </handler>
      <handler
            class="commands.SaveHandler"
            commandId="StudentsRCP.commands.Save">
         <enabledWhen>
            <test
                  forcePluginActivation="true"
                  property="studentsrcp.tester.isEnabledState">
            </test>
         </enabledWhen>
      </handler>
      <handler
            class="commands.CancelHadler"
            commandId="StudentsRCP.commands.Cancel">
         <enabledWhen>
            <test
                  forcePluginActivation="true"
                  property="studentsrcp.tester.isEnabledState">
            </test>
         </enabledWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar
                id="StudentsRCP.commands.toolbar">
            <command
                  commandId="StudentsRCP.commands.New"
                  icon="icons/new_icon.png"
                  id="StudentsRCP.commands.new"
                  label="New"
                  style="push">
            </command>
            <command
                  commandId="StudentsRCP.commands.Save"
                  icon="icons/save_icon.png"
                  id="StudentsRCP.commands.save"
                  label="Save"
                  style="push">
            </command>
            <command
                  commandId="StudentsRCP.commands.Delete"
                  icon="icons/delete_icon.png"
                  id="StudentsRCP.commands.delete"
                  label="Delete"
                  style="push">
            </command>
            <command
                  commandId="StudentsRCP.commands.Cancel"
                  icon="icons/cancel_icon.png"
                  id="StudentsRCP.commands.cancel"
                  label="Cancel"
                  style="push">
            </command>
         </toolbar>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               id="fileMenu"
               label="File">
            <command
                  commandId="StudentsRCP.commands.New"
                  icon="icons/new_icon.png"
                  id="StudentsRCP.commands.new"
                  label="New"
                  style="push">
            </command>
            <command
                  commandId="StudentsRCP.commands.Exit"
                  id="StudentsRCP.commands.exit"
                  label="Exit"
                  style="push">
            </command>
         </menu>
         <menu
               id="editFile"
               label="Edit">
            <command
                  commandId="StudentsRCP.commands.Save"
                  icon="icons/save_icon.png"
                  id="StudentsRCP.commands.save"
                  label="Save"
                  style="push">
            </command>
            <command
                  commandId="StudentsRCP.commands.Delete"
                  icon="icons/delete_icon.png"
                  id="StudentsRCP.commands.delete"
                  label="Delete"
                  style="push">
            </command>
            <command
                  commandId="StudentsRCP.commands.Cancel"
                  icon="icons/cancel_icon.png"
                  id="StudentsRCP.commands.cancel"
                  label="Cancel"
                  style="push">
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="commands.ExitHandler"
            id="StudentsRCP.commands.Exit"
            name="Exit">
      </command>
      <command
            id="StudentsRCP.commands.Cancel"
            name="Cancel">
      </command>"
      <command
            id="StudentsRCP.commands.New"
            name="New">
      </command>
      <command
            id="StudentsRCP.commands.Delete"
            name="Delete">
      </command>
      <command
            id="StudentsRCP.commands.Save"
            name="Save">
      </command>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="studentsrcp.Tester"
            id="StudentsRCP.propertyTestes.tester"
            namespace="studentsrcp.tester"
            properties="isEnabledState"
            type="java.lang.Object">
      </propertyTester>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="studentsrcp.DeleteTester"
            id="StudentsRCP.propertyTestes.deleteTester"
            namespace="studentsrcp.deleteTester"
            properties="isSelected"
            type="java.lang.Object">
      </propertyTester>
   </extension>
</plugin>
