<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="eclipsercp.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="eclipsercp.Perspective"
            id="StudentsRCP.perspective"
            name="RCP Perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="viewpart.ContactsView"
            id="StudentsRCP.viewpart.contacts"
            name="Contacts"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="commands.NewHandler"
            commandId="StudentsRCP.commands.New">
         <enabledWhen>
            <test
                  forcePluginActivation="true"
                  property="studentrcp.NewPropertyTester">
            </test>
         </enabledWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar
                id="StudentsRCP.commands.toolbar">
            <command
                  commandId="StudentsRCP.commands.toolbar.New"
                  icon="icons/new_icon.png"
                  label="New"
                  style="push">
            </command>
         </toolbar>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               id="fileMenu"
               label="File">
            <command
                  commandId="StudentsRCP.commands.New"
                  icon="icons/new_icon.png"
                  label="New"
                  style="push">
            </command>
            <command
                  commandId="StudentsRCP.commands.Exit"
                  label="Exit"
                  style="push">
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="commands.ExitHandler"
            id="StudentsRCP.commands.Exit"
            name="Exit">
      </command>
   </extension>
</plugin>
